body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

h1 {
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

header p {
  font-style: italic;
  margin: 0 0 50px 0;
}

div {
  line-height: 1.2;
  margin-bottom: 45px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div p {
  margin: 0;
}

div:nth-child(7) {
  margin-bottom: 100px;
}
